[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
governance = "5VEwziqdtA8DLkhcfDvS3wSasoGrSy5ScX7bs68RXCXY"
reporting =  "HKGMwVUhp5Ue2Ldod2dur6TtXsFjc9zUTwVC3m5GNn5z"
vault =      "FTH14TtpbEBjvxLDqJ5V436hfpJ5aR6btgx89DQ4Yz8m"


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha tests/vault.test.ts"
localnet = "yarn run ts-mocha scripts/localnet.ts"